<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>eGovAngularJS - 슈퍼개발자K 시즌2</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">
		<link rel="stylesheet" href="css/super.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1><span class="blue">eGov</span>AngularJS</h1>
					<h3>UI 개발을 쉽게</h3>
					<br>
					<p>
						<a href="https://plus.google.com/111326406112009421991">고재도</a>@<a href="http://egov.angularjs.or.kr">그루그루팀</a>
					</p>
				</section>

				<!-- 전자정부 프레임워크를 사용하면서 몬가 2% 부족함을 느끼지 않으셨습니다? UI의 갈증을 느끼지 않으 셨어요? 저희 팀은 여러분들의 이러한 갈증을 해소하고자 eGovAngularJS를 시작하였습니다. -->
				<section>
					<h3>표준프레임워크에 2% 부족함을 채우다.</h3>
					<img src="images/2percent-1.png">
				</section>
				<section>
					<section>					
						<a style="float:left" href="http://14.63.199.244:8080/guruguru/" target="_blank" style="width:600px">
							<img src="images/dashboard.png" alt="Unicorn">
						</a>
						<h5 style="float:right; margin-top: 300px; width: 20%;">http://14.63.199.244:8080/guruguru/</h5>	
					</section>
					<!-- 보시는 사진은 서버관리 대시보드입니다. 오른쪽 주소로 접속하면 실제 대시보드를 보실 수 있으십니다. 이러한 대시보드 UI를 개발하려면 어느정도 시간이 걸릴가요? 기준 데이터를 바꾸면 아래 그래프 위젯의 데이터 테이블의 데이터가 동적으로 바뀝니다. -->
					<section>
						<h3>ActiveX 기술 없이 모든 브라우저 동작?!</h3>
						<img src="images/stress.png">
						<!--
						 앞에서 본 그러한 대시보드를 ActiveX 기술 없이 모든 브라우저에서 동작하는 UI로 개발해야 한다면요? 돈이 없어서 UI 솔루션을 살 돈도 없다면요? -->
					</section>
					<section>
						<h2>UI 솔루션 살 돈도 없다?!</h2>
						<!-- <img src="images/no-money-no-life.png"> -->
						<img src="images/nomoney.jpg">
						 <!-- 제 저희는 돈도 없고 인생도 없는 개발자입니다. -->
					</section>
					<section>
						<h2>매번 다른 말을 하는 고객?!</h2>
						<img src="images/customer-too-much-ask.png">
						<!--
						 근데 이게 다가 아니죠 진상 고객이 이래라 저래라 요구사항을 계속 바꾼다면요? 디자이너가 화면을 새로 그리고 html 소스가 바뀌고 javascript 소스 코드가 바뀌고 또 계속적으로 기능이 많아 진다면 소스 코드량이 얼마나 많아질까요? -->
					</section>
				</section>
				<section>
					<section>
						<h2>표준웹 UI 개발은 어렵다.</h2>
						<br>
						<ul>
							<li>
								<h3>요구사항의 변경이 심하다!</h3>
							</li>
							<li>
								<h3>개발자 vs 기획자 vs 디자이너는 맨날 싸운다!</h3>
							</li>
							<li>
								<h3>기능이 많아 질 수록 코드가 복잡하다!</h3>
							</li>
						</ul>
					</section>
					<!--
네~ 표준웹 UI 개발은 어렵습니다. 하지만 저희는 이런 어려운 개발을 아주 쉽게 해주려 합니다. 그냥 UI 갈증을 단순히 해소시키지 않습니다. 여러분들의 이러한 어려운 점을 아주 쉬원하게~ 해소시켜드릴 것입니다. 
					 -->
				</section>

				<section>
					<section>
						<h1><span class="blue">eGov</span>AngularJS</h1>
					</section>
					<section>
						<!-- 2프로 부족한 부분 체크 -->
						<img src="images/egovng-str.png" style="background:white; padding: 10px; padding-left:20px">
					</section>
					<section>
						<p style="background-color: white;">
							<img src="images/image4.png" style="box-shadow:none; border : none;">
						</p>
					</section>
					<section>
						<h2>양방향 데이터 바인딩</h2>
					</section>

					<section>
						<h2>jQuery 예제</h2>
						<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<input id="toggleShowHide" type="checkbox">
<div id=”specialParagraph”>
    위의 체크박스를 클릭하면 보시는 내용은 숨겨질 것입니다.
</div>
							</code>
						</pre>
<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<script>
$(function() {

 function toggle() {   
		var isChecked = $('#toggleShowHide').is(':checked');
		var specialParagraph = $('#specialParagraph');
		if (isChecked) { specialParagraph.show(); } 
		else { specialParagraph.hide();  }
 }

 $('#toggleShowHide').change(function() {
		toggle();
 });

 toggle();

});
</script>
							</code>
						</pre>
					</section>
					<section>
						<h2>AngularJS 예제</h2>
						<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
								<input ng-model="showSpecial" type="checkbox">

<div ng-show=”showSpecial”>
    위의 체크박스를 클릭하면 보시는 내용은 숨겨질 것입니다.
</div>
							</code>
						</pre>
						<img src="images/databinding.png" style="background:white; padding: 20px;"alt="양방향 데이터 바인딩">
					</section>
					<section>
						<h2>MVC 구조 제공</h2>
						<img src="images/mvc.png" style="background:white; padding: 20px;"alt="양방향 데이터 바인딩">
					</section>
<section>
						<h2>MVC 구조가 없는 코드</h2>
						<h4>HTML</h4>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
<div id="search-panel">
 <label>부서</label>
 <select class="dept-dropbox"></select>
 <label>직급</label>
 <select class="pos-dropbox"></select>
 <button id="sFind">검색</button>
</div>
<div id="gridPanel">
 <table>
  <thead>
   <tr><td>사번</td><td>이름</td><td>부서</td></tr>
  </thead>
  <tbody></tbody>
 </table>
</div>
							</code>
						</pre>
					</section>
					<section>
						<h2>MVC 구조가 없는 코드</h2>
						<h4>JavaScript</h4>
						<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
// listData를 이용하여 dropBox(select)의 option을 구성한다.
function makeDropBox(dropbox, listData){
 var option;
 dropbox.options.length = 0; //초기화
	
 if(listData){
  for(var i = 0, length = listData.length; i < length; i++) {
   option = document.createElement("option");
   option.value = listData[i].cdDetailNo;
   option.text = listData[i].cdDetailName;
   dropbox.options.add(option);
  }
 }
};

var searchPanel = document.getElementById("search-panel");
var deptDropbox = searchPanel.getElementsByClassName("dept-dropbox")[0];
var posDropbox = searchPanel.getElementsByClassName("pos-dropbox")[0];
var sUserId = document.getElementById("sUserId");
var sUserNm = document.getElementById("sUserNm");
var sFind = document.getElementById("sFind");

$.ajax(urlDept)
 .success(function(jsonData){
  // 부서 정보 조회 후 처리
  makeDropBox(deptDropbox, jsonData.DS_CODE);
 });
	
	
// 직급 정보 조회
$.ajax(urlPos)
 .success(function posCallBack(jsonData){
  // 직급 정보 조회 후 처리
  makeDropBox(posDropbox, jsonData.DS_CODE);
 });
	
	
// 조회버튼에 이벤트 등록
//document.getElementById("sFind").onclick = function(){
sFind.onclick = function(){
 // 조회 버특 클릭 시 인사 정보 조회
 $.ajax(urlUserList)
  // 인사 정보 조회 후 처리
  .success(function(jsonData){
   // masterView를 이용하여 grid 정보 갱신
   CommMng.userMnge.GridView.setGridData(jsonData.USER_DS);
  });
};

var gridColumn = ["userId", "userNm", "deptCd"];
var grid = document.getElementById("gridPanel").getElementsByTagName("table")[0];
var gridBody = grid.children[1];
 
function setGridData(listData){
 var list = "";
 gridData = listData;
 if(listData){
  for(var i = 0, length = listData.length; i < length; i++) {
   list += "<tr>";
   for(var j = 0, length2 = gridColumn.length; j < length2; j++) {
    list += "<td>";
    list += listData[i][gridColumn[j]] || " ";
    list += "</td>";
   }
   list += "</tr>";
  }
	}

 gridBody.innerHTML = list; // 값 변경
};
</code>
</pre>
					</section>
					
					<section>
						<h3>MVC 구조화된 코드</h3>
								<h5>HTML (Template)</h5>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
<div ng-controller="userMgtCtr">
<div>
 <label>부서</label>
 <select ng-model="sObj.deptId" ng-options="d.deptId as d.deptNm for d in deptList">
 </select>
 <label>직급</label>
 <select ng-model="sObj.posId"
 	ng-options="p.posId as p.posNm for p in posList">
 </select>
 <button ng-click="find(sObj)">검색</button>
</div>
<div>
 <table>
  <thead>
   <tr><td>사번</td><td>이름</td><td>부서</td></tr>
  </thead>
  <tbody>
   <tr ng-repeat="user in userList">
    <td>{{userId}}</td><td>{{userNm}}</td><td>{{userNm}}</td>
   </tr>
  </tbody>
 </table>
</div>
</div>
							</code>
						</pre>
					</section>
				<section>
						<h2>MVC 구조화된 코드</h2>
						<h4>JavaScript (Controller)</h4>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
function userMgtCtr ($scope,$http) {
 $scope.deptList = [
  { deptId: '001', deptNm: '부서A'},
  { deptId: '002', deptNm: '부서B'}
 ];

 $scope.posList = [
  { posId: '001', posNm: '사원'},
  { posId: '002', posNm: '대리'}
 ];

 $scope.find = function (sObj) {
  $http({
   method: 'GET', url: 'getUserList',
   params: { deptId: sObj.deptId, posId: sObj.posId }
  })
   .success(function(data, status, headers, config) {
    response.data = $scope.userList;
   });
 };
}
							</code>
						</pre>
					</section>

				</section>


				<section>
			
					<section>
						<h2>다양한 UI 컴포넌트 제공</h2>
								<img src="images/egovAngularJScomponents.png">
					</section>
					<section>
						<h2>아주 쉬운 UI 컴포넌트 사용</h2>
						<img src="images/easy.jpg" alt="아주 쉽게 UI 컴포넌트를 사용할 수 있다.">
					</section>
					<section  style="padding: 0px;">
						<h3> - 그리드 컴포넌트 - </h3>
						<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px">
<div egov-grid name="demoGrid" dataset="userList">
  <table>
    <thead>
      <tr>
        <th>이름</th> <th>이메일</th> <th>등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td> <td>{{email}}</td> <td>{{regDate}}</td>
      </tr>
    </tbody>
  </table>    
</div></code>
						</pre>
						<pre style="margin: 0px auto;">
							<code data-trim contenteditable style="font-size: 18px; padding">
function demoCtrl ($scope) {
 $scope.userList = [
  { name: "재도", email: "haibane@gmail.com", regDate: "20130910"},
  { name: "재하", email: "jeaha@gmail.com", regDate: "20130910" },
  { name: "지수", email: "jisu@gmail.com", regDate: "20130910" },
  { name: "한행", email: "hanhang@gmail.com", regDate: "20130910" }
 ];
}
							</code>
						</pre>
					</section>
					<section>
						<a href="http://localhost:8001/doc/#!/grid1" target="_blank">
							<img src="images/egovGrid.png">
						</a>
					</section>
					<section>
						<h3> - 차트 컴포넌트 - </h3>
<pre>
<code data-trim contenteditable style="font-size: 18px; margin-top: 20px">
<div egov-line-chart data="myData" id="myData"
 height="280" width="600" showXAxis="true" showYAxis="true" showLegend="true"
 >
 <svg></svg>
</div>
</code>
</pre>
						<pre style="margin: 0px auto;">
							<code data-trim contenteditable style="font-size: 18px; padding">
function demoCtrl ($scope) {
 //차트 데이터 등록
 $scope.myData = [
  {"key": "data_1", "values": [[0,68],[1,91],[2,57],[3,87],[4,79],[5,21],[6,51],[7,10],[8,11],[9,33]]},
  {"key": "data_2", "values": [[0,61],[1,99],[2,90],[3,92],[4,67],[5,68],[6,40],[7,54],[8,62],[9,83]]}
 ]; 
}
							</code>
						</pre>
					</section>
					<section>
						<a href="http://localhost:8001/doc/#!/chart1" target="_blank">
							<img src="images/chart.png">
						</a>
					</section>
					<section>
						<h2>개발을 쉽게 도와주는 <br><br> <span class="blue">개발자 사이트</span> 제공</h2>
						<a href="http://egov.angularjs.or.kr/doc/" target="_blank">
							<img src="images/image2.png">
						</a>
					</section>
				</section>
				<section>
					<h1>DEMO</h1>
				</section>
				<!-- 아주 쉽게 그리드가 만들어지고 데이터가 바뀌어도 자동으로 화면이 바뀌죠? -->
				<section>
					<h1>한 가지 더!</h1>
				</section>
				<section>
					<h1>Cross Browsing Test</h1>
					<!-- 하지만 이게 다가 아닙니다. 한가지 더! 있습니다. 바로 크로스 브라우징 테스트 입니다. -->
				</section>
				<section>
					<section>
					<!-- 아까 보셨던 대시보드 기억 나시죠? 벌써 까먹진 않으 셨죠? 그 대시보드를 모든 브라우저별로 잘 동작하나 테스트 해보는 것입니다. 그럴려면 테스트 시나리오를 작성해야겠죠?
					 <!-- 테스트 시나리오 1 -->
					 <h4>시나리오 1</h4>
					<pre>
						<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
describe('대시보드 화면', function () {
 beforeEach(function () {
  browser().navigateTo('/');
 });

 it('타이틀이 포함된다.', function () {
  expect(element('.page-title').text())
   .toBe('eGov AngularJS Dashboard  easy and fun');
 });

 it('각 위젯들에 알맞는 컴포넌트가 포함된다.', function () {
  var svcStatusWidget = element('widget[title="서버 상태 정보"] [egov-easy-pie-chart]');
  var periodSearchWidget = element('widget form[name="periodSearchForm"]');
  var userConnWidget = element('widget[title="사용자 접속"] [egov-line2]');
  var locationConnWidget = element('widget[title="지역별 접속율"] [egov-grid]');

  expect(svcStatusWidget.count()).toBe(4);
  expect(periodSearchWidget.count()).toBe(1);
  expect(userConnWidget.count()).toBe(1);
  expect(locationConnWidget.count()).toBe(1);
 });
});
					 </code>
					</pre>
					</section>
				<section>
					<!-- 아까 보셨던 대시보드 기억 나시죠? 벌써 까먹진 않으 셨죠? 그 대시보드를 모든 브라우저별로 잘 동작하나 테스트 해보는 것입니다. 그럴려면 테스트 시나리오를 작성해야겠죠?
					 <!-- 테스트 시나리오 1 -->
					 <h4>시나리오 2</h4>
					<pre>
						<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
it('검색 기준을 일자로 바꾸면 일자를 선택할 수 있는 콤보박스가 보인다.', function () {
 element(':button.day').click();
 expect(element('select[egov-select-list="monthList"]').count()).toBe(1);
});

it('검색 기준을 일자로 바꾸면 일자를 선택할 수 있는 콤보박스가 보인다.', function () {
 var gridSelector = 'div[name="demoGrid2"] .grid-canvas .slick-row:first';
 select('year').option('2012');
 element('button[type="submit"]').click();
 expect(element(gridSelector + ' .slick-cell.l0.r0').text())
  .toBe('강원');
 expect(element(gridSelector + ' .slick-cell.l1.r1').text())
  .toBe('642');
});
					 </code>
					</pre>
				</section>
				</section>
<!-- 이렇게 테스트가 실행되게 됩니다. 이러한 테스트를 젠킨스에 연동하여 CI또한 구성이 가능합니다. 이러한 내용을 저희 개발자 사이트에 작성을 해놓았습니니다. 바로 집에가셔서 적용해보실 수 있으십니다. -->
				<section>
					<img src="images/iwantyou.gif">
					<h1>I want your code!</h1>
					<a href="https://github.com/eGovAngularJS">https://github.com/eGovAngularJS</a>
					<!-- i want you 사진 -->
					<!-- 네 마지막으로 한마디만 더하겠습니다. 저희는 오픈소스 프로젝트 입니다. 모든 소스는 깃헙에 올라 가있습니다. 그러니 누구든 참여가 가능합니다. 네 저희는 여러분들의 도음이 필요합니다. 같이 함께 만들어 봐요! -->
				</section> 
				<section>
					<h1>4번! 뽑아주세요!</h1>
					<!-- 아! 4번 뽑는 것 도 잊지 말아주세요! -->
					<!-- 안 뽑아주시면 프로젝트 날려버릴 것니다. -->
				</section> 
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme,
				transition: Reveal.getQueryHash().transition || 'default',
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
