<!doctype html>
<html ng-app>
<head>
	<title>AngularJS</title>
	<script src="app.js"></script>
</head>
<body ng-controller="todoCtrl">
	<div>
	 <label>부서</label>
	 <select ng-model="sObj.deptId" ng-options="d.deptId as d.deptNm for d in deptList">
	 </select>
	 <label>직급</label>
	 <select ng-model="sObj.posId"
	 	ng-options="p.posId as p.posNm for p in posList">
	 </select>
	 <button ng-click="find(sObj)">검색</button>
	</div>
	<div>
	 <table>
	  <thead>
	   <tr><td>사번</td><td>이름</td><td>부서</td></tr>
	  </thead>
	  <tbody>
	   <tr ng-repeat="user in userList">
	   	<td>{{userId}}</td><td>{{userNm}}</td><td>{{userNm}}</td>
	   </tr>
	  </tbody>
	 </table>
	</div>
</body>
</html>